
bhts/.Rhistory

drillingfluid/.Rhistory

*.pdf

drillingfluid/dataProcessed5-28-2015.RData

geothermal_bhts_outliers_documentation.aux

geothermal_bhts_outliers_documentation.log

geothermal_bhts_outliers_documentation.synctex.gz

combining_metrics/.Rhistory

*.grd

*.gri

*.tif

*.adf

*.xml

*.sbx

*.shx

*.prj

*.dbf

*.shp

*.sbn

*.cpg

*.qpj

*.RData

*.xlsx

*.rtf

combining_metrics/parAxisPlot.R

combining_metrics/interpUncerPredPFM.R

combining_metrics/main_script.R

combining_metrics/main_script.R

combining_metrics/main_script.R

combining_metrics/main_script (original).R

combining_metrics/main_script (original 2).R

combining_metrics/main_script.R
